{% extends "base.html" %}

{% block page_content %}

<div class="row mt-4">
    <div class="col-sm-6">
        <div class="card border-primary h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Liste Matrimoniali</h5>
                <p class="card-text">Visualizza, modifica e crea nuove liste Matrimoniali!</p>
                <a href="#" class="btn btn-primary">Vai</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-primary h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Utenti</h5>
                <p class="card-text">Visualizza, modifica e crea i tuoi utenti!</p>
                <a href="#" class="btn btn-primary">Vai</a>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}