{% extends "base.html" %}

{% block page_content %}

<div class="row mt-4">
    <div class="col-sm-6">
        <div class="card border-primary h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-primary h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}