{% extends "base.html" %} {% block page_content %}
<div class="mt-3">
    {% if page.addStatus is defined %}
    <div class="mt-3 mb-3">
        {% if page.addStatus %}
        <div class="alert alert-success" role="alert">
            Utente inserito con successo!
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            OOPS! C'é stato un errore nell'inserimento dell'utente.
        </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-10">
            <input type="text" class="form-control" id="searchField" onkeyup="search()"
                placeholder="Cerca l'utente.." />
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalForm">
                Nuovo Utente
            </button>
        </div>
    </div>

    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">
                        Inserisci un nuovo utente
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="?" method="post">
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nome e Cognome</span>
                            </div>
                            <input type="text" class="form-control" name="name" required>
                            <input type="text" class="form-control" name="surname" required>
                        </div>

                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Numero Di telefono</span>
                            </div>
                            <input type="text" class="form-control" name="phone" required>
                        </div>
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Codice Fiscale</span>
                            </div>
                            <input type="text" class="form-control" name="fiscalcode" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Crea</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover mt-3" id="weddingsTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Numero di Telefono</th>
                <th scope="col">Codice Fiscale</th>
                <th scope="col">Data di Iscrizione</th>
            </tr>
        </thead>

        <tbody>
            {% for w in page.people %}
            <tr class="clickable" data-wedding-id="{{ w[0] }}">
                <td>{{ w[1] }}</td>
                <td>{{ w[2] }}</td>
                <td>{{ w[3] }}</td>
                <td>{{ w[0] }}</td>
                <td>{{ (w[4]|string).split(" ")[0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function search() {
        let input = document.getElementById("searchField");
        let filter = input.value.toUpperCase();
        let table = document.getElementById("weddingsTable");
        let tr = table.getElementsByTagName("tr");

        for (let i = 0; i < tr.length; i++) {
            let td = tr[i].getElementsByTagName("td")[0];
            let td2 = tr[i].getElementsByTagName("td")[1];
            let td3 = tr[i].getElementsByTagName("td")[2];
            let td4 = tr[i].getElementsByTagName("td")[3];

            if (td) {
                let txtValue =
                    (td.textContent || td.innerText) + (td2.textContent || td2.innerText) + (td3.textContent || td3.innerText) + (td4.textContent || td4.innerText);

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock page_content %}