{% extends "base.html" %} {% block page_content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<div class="mt-3">
    <div class="row">
        <div class="col-8">
            <input type="text" class="form-control" id="searchField" onkeyup="search()"
                placeholder="Cerca l'utente.." />
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalForm">
                Nuovo Utente
            </button>
        </div>
    </div>

    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">
                        Inserisci un nuovo utente
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="?" method="post">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nome e Cognome</span>
                        </div>
                        <input type="text" aria-label="First name" class="form-control">
                        <input type="text" aria-label="Last name" class="form-control">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Crea</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover mt-3" id="weddingsTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
            </tr>
        </thead>

        <tbody>
            {% for w in page.weddings %}
            <tr class="clickable" data-wedding-id="{{ w[0] }}">
                <td>{{ w[1] }} {{ w[2] }}</td>
                <td>{{ w[3] }} {{ w[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    function search() {
        let input = document.getElementById("searchField");
        let filter = input.value.toUpperCase();
        let table = document.getElementById("weddingsTable");
        let tr = table.getElementsByTagName("tr");

        for (let i = 0; i < tr.length; i++) {
            let td = tr[i].getElementsByTagName("td")[1];
            let td2 = tr[i].getElementsByTagName("td")[2];
            if (td) {
                let txtValue =
                    (td.textContent || td.innerText) + (td2.textContent || td2.innerText);

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock page_content %}