{% extends "base.html" %} {% block page_content %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
        </tr>
    </thead>

    <tbody>
        {% for w in page.weddings %}
        <tr class="clickable" data-wedding-id="{{ w[0] }}">
            <td>{{ w[1] }}</td>
            <td>{{ w[2] }}</td>
            <td>{{ w[3] }}</td>
            <td>{{ w[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $(document).on('click', 'tr.clickable', function () {
            var weddingId = $(this).attr('data-wedding-id');
            window.location.href = `/weddinglist/${weddingId}`;
        })
    });
</script>
{% endblock page_content %}