{% extends "base.html" %}

{% block page_content %}

{% if page.article_bought is defined %}
<div class="mt-3 mb-3">
    {% if page.article_bought.status %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Complimenti! {{ page.article_bought.articleinfo[0] }} é stato correttamente prenotato
        </h4>
        <p>Il prodotto {{ page.article_bought.articleinfo[0] }} é stato prenotato al prezzo di
            {{ page.article_bought.articleinfo[2] }}€</p>
        <hr>
        <p class="mb-0">Ricordati di passare in negozio per ritirare il prodotto appena prenotato</p>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops! C'é stato un errore durante l'acquisto di
            {{ page.article_bought.articleinfo[0] }}</h4>
        <p>Il prodotto potrebbe non essere piú disponibile per l'acquisto, ci dispiace per l'inconveniente.</p>
    </div>
    {% endif %}
</div>
{% endif %}

<div class="row mt-4">
    <div class="col-12 mb-3 text-center">
        <h1>Questa é la lista di nozze di {{ page.partners[0][0] + " e " + page.partners[1][0] }}!!</h1>
    </div>
    <div class="col-12 mb-3 text-center">
        <h4>Prenota uno dei seguenti regali e passa da noi a ritirarlo in negozio.</h1>
    </div>
    {% for a in page.articles %}
    <div class="col-3 mb-3">
        <div class="card h-100 border-primary">
            <div class="card-body text-center d-flex flex-column">
                <h5 class="card-title">{{ a[0] }}</h5>
                <p class="card-text">{{ a[1] }}</p>
                <div class="mt-auto">
                    <p class="card-text">{{ a[2] }}€</p>
                    <form action="?" method="post">
                        <input type="hidden" id="articleid" name="articleid" value={{ a[4] }}>
                        <button type="submit" class="btn btn-primary" {% if a[3] %} disabled {% endif %} ">{% if a[3] %}
                        Prodotto gia
                        prenotato {% else %}
                        Prenota l'acquisto!
                        {% endif %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    {% endfor %}
</div>
{% endblock page_content %}